body {
        background-color: grey;
        
}
.container {
        max-width: 960px;
        width: 90%;
        margin: 0 auto;
}
.row {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex;
}

.column {
    flex-basis: 20%;
    box-sizing: border-box;
    padding: 8px;
}
 .box {
        height: 144px;
        background-color: #61c6eee7;
        background-image: url(placeholder-image.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        
}

 .container p {
        color: black;
        background-color: #f5f4f4;
        margin: auto;
        text-align: center;
        padding: 10px;
        border-bottom-left-radius:5% ;
        border-bottom-right-radius:5% ;
        
}
    #footer {
        text-align: left;
        padding: 5px 450px 0 470px;
        font-family: sans-serif;
}

@media screen and (max-width: 1024px) {
            .column {
            flex-basis: 33.33%;
            }
            }
 @media screen and (max-width: 768px) {
            .column {
            flex-basis: 50%;
            }
            }
@media screen and (max-width: 414px) {
            .column {
            flex-basis: 100%;
            }
            }
            